{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<section class="banner inner-page">
        <div class="banner-img"><img src="{% static 'images/banner/quiz.jpg' %}" alt=""></div>
        <div class="page-title">	
            <div class="container">
                <h1>Quiz</h1>
            </div>
        </div>
    </section>
    <section class="breadcrumb white-bg">
        <div class="container">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Quiz</a></li>
            </ul>
        </div>
    </section>
    <section class="quiz-view">
        <div class="container">
            <div class="quiz-title">
                <h2>Choose Your Field</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                	<div class="col-sm-4 col-md-3">
                    	<div class="time-info">Total time </div>
                    	<div id="countdown_stop"></div>
                        <div class="qustion-list">
                        	<div class="qustion-slide fill">
                                {% for question in questions %}
                                <div class="qustion-slide"></div>
                                <div class="qustion-number" href="{% url 'questions' question.id %}">Question {{question.id}}</div>
                                {% endfor %}
                            </div>
                            
                        </div>
                    </div>
                <div class="col-sm-8 col-md-9">
                    <div class="qustion-main">
                        <div class="qustion-box">
                                {% for question in questions%}
                                <h3 class="qustion-number" style="color:black;">{{question.question}}</h3><br><br>
                                
                                {% for answer in answers %}
                                    
                                    {% if answer.question.id == question.id %}
                                        {% if answer.correct == True %}
                                            <button onclick="changeColor(this)" class="btn btn-light">{{answer}}</button><br><br>
                                        {% else %}
                                            <button onclick="changeBackColor(this)" class="btn btn-light">{{answer}}</button><br><br>
                                        {% endif %}
                                    {% endif %}
                                    
                            {% endfor %}
                            {% endfor %}
                                
                    </div>
                </div>
            </div>
        </div>
        <script>
            function changeColor(btn) {
  btn.style.backgroundColor = "green";
  alert("Correct")
}
function changeBackColor(btn) {
  btn.style.backgroundColor = "red";
  alert("Wrong")
}
        </script>
    </section>

{% endblock %}